@{
    ViewBag.Title = "MapGenTest";
}



@section scripts {
    <script src="/Scripts/jsExtender/jsExtender.js"></script>
    <script src="/Scripts/game/levels/mapGenerator.js"></script>
}

<h2>MapGenTest</h2>

