@{
    ViewBag.Title = "MapGenTest";
}

@section scripts {
    <script src="/Scripts/jsExtender/jsExtender.js"></script>
    <script src="/Scripts/game/levels/mapGenerator.js"></script>
}

<style>
    body, html {
        background-color: #494949;
    }
     #mapArea {
         position: relative;
         width: 800px;
         height: 800px;
         margin-left: 100px; 
     }

    .map-area {
        position: absolute;
        width: 50px;
        height: 50px;
        font-weight: bold;
        background-color: gray;
        vertical-align: middle;
        text-align: center;
        line-height: 50px;
    }
</style>
<h2>MapGenTest</h2>
<div id="mapArea"></div>
<script>
    //for (var i = 0; i < 20; i++) {
    var map = mapGenerator(5);
    map.showMap();
    //}
</script>
