@{
    ViewBag.Title = "PrototypeTest";
}

@section scripts
{
    <script type="text/javascript" src="@Url.Content("/Scripts/jsExtender/jsExtender.js")"></script>
}

<h2>PrototypeTest</h2>
<script type="text/javascript">
    var a = jsExtender({
        constructor: function () {
            this.cookieType = 'basic';
        },
        makeCookie: function () {
            return 'I made a ' + this.cookieType + ' cookie!';
        }
    });

    var b = a.extend({
        constructor: function () {
            this.cookieType = 'chocolate chip';
        }
    });

    var aInst = new a();
    console.log(aInst.makeCookie());

    var bInst = new b();
    console.log(bInst.makeCookie());

    function SugarCookie() {
        this.cookieType = 'sugar';
    }

    SugarCookie.prototype.makeCookie = function () {
        console.log('makeCookie Overridden!');
        return this.base.call(this);
    };

    SugarCookie.prototype.beforeExtension = function () {
        console.log('before extension');
    };

    var c = b.extend(SugarCookie);

    c.prototype.afterExtension = function () {
        console.log('after extension');
    };

    var cInst = new c();
    console.log(cInst.makeCookie());
    cInst.beforeExtension();
    cInst.afterExtension();

    var d = c.extend({
        makeCookie: function (x) {
            return this.base.call(this, x) + ' with ' + x;
        }
    });

    var dInst = new d();
    console.log(dInst.makeCookie('chocolate chips'));
    dInst.beforeExtension();
    dInst.afterExtension();
</script>

<script type="text/javascript">
    /*
    // The container that holds all the tabs.
    var TabContainer = (function() {
        var tabList = [];

        var container = extendableObject.extend({
            constructor: function () {

            },
            foreachTab: function (callback) {
                var i = tabList.length;
                while (--i) {
                    if (!callback(i, tabList[i]))
                        return;
                }
            },
            addTab: function (tab) {
                if (!(tab instanceof TabInfo))
                    throw 'tab must be an instance of TabInfo';

                tabList.push(tab);
            },
            removeTab: function (hash) {
                foreachTab(function (i, tmpTab) {
                    if (tmpTab.matchesHash(hash)) {
                        tabList.splice(i, 1);
                        return false;
                    }

                    return true;
                });
            },
            getTab: function (hash) {
                var tab = null;

                foreachTab(function (i, tmpTab) {
                    if (tmpTab.matchesHash(hash)) {
                        tab = tmpTab;
                        return false;
                    }

                    return true;
                });

                return tab;
            },
            display: function (hash) {
                this.foreachTab(function (i, tmpTab) {
                    if (tmpTab.matchesHash(hash)) {
                        tmpTab.display();
                        return false;
                    }

                    return true;
                });
            }
        });

        return new container();
    })();

    // Tab information object that contains the hash and the display code
    // that needs to be overridden by another object.
    var TabInfo = extendableObject.extend({
        constructor: function (hash) {
            console.log('TabInfo constructor called.');
            this.hash = hash;
            console.log('TabInfo constructor finished.');
        },
        matchesHash: function(hash) {
            return hash === this.hash;
        },
        display: function() {
            throw 'display must be overridden!';
        }
    });

    // Tab 1 created using a json object that doesn't override the constructor of TabInfo.
    var tab1 = (function (hash) {
        var tabObj = extendableObject.extend(TabInfo, {
            display: function () {
                console.log('Displaying tab 1!');
            }
        });

        return new tabObj(hash);
    });


    // Tab 2 created using a json object and doesn't override the constructor of TabInfo.
    // It does however export itself so it can be inherited later.
    var tab2 = (function (hash) {
        var tabObj = extendableObject.extend(TabInfo, {
            display: function () {
                console.log('Displaying tab 2!');
            }
        });

        // Make tab2Obj external and extendable by other tabs.
        window.tab2Obj = tabObj;

        return new tabObj(hash);
    });

    // Tab 3 created using a prototype function and it overrides the constructor.
    var tab3 = (function (hash) {
        // Declaring tab3 as a classic prototype function.
        function tab3Proto(h) {
            console.log('tab 3 constructor called.');

            // Call parent constructor (tab2Obj.constructor)
            tab2Obj.prototype.constructor.call(this, h);

            console.log('tab 3 constructor finished.');
        }

        tab3Proto.prototype.display = function() {
            console.log('Displaying tab 3!');

            // Call parent display function (tab2Obj.display)
            tab2Obj.prototype.display.call(this);
        }

        var tabObj = extendableObject.extend(tab2Obj, tab3Proto);
        return new tabObj(hash);
    });

    // Alternate way to declare tab3 using json instead of a prototype function.
    var tab3Alt = (function (hash) {
        var tabObj = extendableObject.extend(tab2Obj, {
            constructor: function(h) {
                console.log('tab 3 Alt constructor called.');

                // Call parent constructor (tab2Obj.constructor)
                tab2Obj.prototype.constructor.call(this, h);

                console.log('tab 3 Alt constructor finished.');
            },
            display: function() {
                console.log('Displaying tab 3 Alt!');

                // Call parent display function (tab2Obj.display)
                tab2Obj.prototype.display.call(this);
            }
        });
        return new tabObj(hash);
    });

    // Using everything from above.
    TabContainer.addTab(tab1('#tab1'));
    TabContainer.addTab(tab2('#tab2'));
    TabContainer.addTab(tab3('#tab3'));
    TabContainer.addTab(tab3Alt('#tab3Alt'));

    TabContainer.display('#tab1');
    TabContainer.display('#tab2');
    TabContainer.display('#tab3');
    TabContainer.display('#tab3Alt');*/
</script>
